<!DOCTYPE html>
<html>
    <head>
        <title>First Vue Project</title>
        <link rel="stylesheet" type="text/css" href="./css/styles.css"/>
    </head>
    <body>

        <div class="nav-bar"></div>


        <div id="app">
            <div class="product">
                
                <div class="product-img">
                    <a :href="link">
                        <img :src="image">
                    </a>
                </div>

                <div class="product-info">
                    <h3> {{ product }} </h3>
                    <h5> {{ description }} </h5>
                                        
                    <span v-if="onSale">ON SALE NOW</span>

                    <ul>
                        <li v-for="detail in details">{{ detail }}</li>
                    </ul>

                    <div v-for="(variant, index) in variants"
                         :key="variant.variantID"
                         class="size-option">

                         <p @click="updateProduct(index)">{{ variant.variantSize }}</p>
                    </div>

                    <p v-if="!inStock">Out of Stock!</p>
                    <p v-else>In Stock</p>

                    <button v-on:click="addToCart"
                        :disabled="!inStock"
                        class="btn--primary"
                        :class="{ disabledButton: !inStock }">Add to Cart</button>

                    <button @click="removeFromCart"
                        :disabled="!inStock"
                        class="btn--secondary"
                        :class="{ disabledButton: !inStock }">
                        Remove from Cart</button>

                    <p>Cart ( {{cart}} )</p>

                </div>

            </div>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
        <script src="./js/main.js"></script>

    </body>
</html>